[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "submodules/Font-Awesome"]
	path = submodules/Font-Awesome
	url = git@github.com:Font-Awesome.git
