[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "submodules/Font-Awesome"]
	path = submodules/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "submodules/elegant-icons"]
	path = submodules/elegant-icons
	url = git@github.com:heimrichhannot/elegant-icons.git
